.cmContainer {
    height: 100vh;
}

.editorContainer {
    height: 100vh;
    width: 50%;
}

.editorContainer .tab.selected {
    font-weight: bold;
}

#editorSideBySide {
    display: flex;
}

.mono {
    font-family: monospace;
}
