.cmContainer {
    height: 100vh;
}

.editorContainer {
    height: 100vh;
    width: 50%;
}


.editorContainer {
    .tab-outer {
        font-family: monospace;
        margin-right: 5px;

        button {
            background: none;
            border: none;
        }
    }

    .tab-close {
        text-align: center;
        width: 1.5ch;
        display: inline-block;
    }

    /*.tab-outer:hover .tab-name { cursor: pointer; }*/
    /*.tab-outer:hover .tab-close { cursor: pointer; }*/
    /*.tab-outer:hover .tab-new { cursor: pointer; }*/
    /**/
    .tab-name:hover, .tab-close:hover, .tab-new:hover { cursor: pointer; }

    /*.tab-outer:hover .tab-close { display: inline-block; }*/
    /*.tab-outer:hover .tab-close- { display: none; }*/

    /*.tab-outer:hover .tab-close { display: inline-block; }*/
    /*.tab-outer:hover .tab-close- { display: none; }*/

    .tab-close:after { content: "•"; }
    .tab-close:hover:after { content: "x"; }

    .tab-close:hover, .tab-new:hover { background: whitesmoke; }

    .tab-close, .tab-new { border-radius: 4px; }

    .tab-outer.selected {
        border-bottom: 1px solid cornflowerblue;
    }
    .tab-outer.selected .tab-name {
        font-weight: bold;
    }

}


#editorSideBySide {
    display: flex;
}

.mono {
    font-family: monospace;
}
