summary { cursor: pointer; }

.cmContainer {
    height: 80vh;
    padding-top: 2px;
}

.cm-editor { height: 100%; }
.cm-scroller { overflow: auto; }

.editorContainer {
    .tab-outer {
        font-family: monospace;
        margin-right: 5px;

        button {
            background: none;
            border: none;
        }
    }

    .tab-close {
        text-align: center;
        width: 3ch;
        display: inline-block;
        padding: 0;
    }

    .tab-name:hover, .tab-close:hover, .tab-new:hover { cursor: pointer; }

    .tab-close:after { content: "•"; }
    .tab-close:hover:after { content: "✕"; }

    .tab-close:hover, .tab-new:hover { background: whitesmoke; }

    .tab-close, .tab-new { border-radius: 4px; }

    .tab-outer.selected { border-bottom: 2px solid cornflowerblue; }

    .tab-outer.selected .tab-close:after { content: "✕"; }

}

#cmd { width: 90%; }
#inputOutputContainer { display: flex; }
.inputContainer, .outputContainer { width: 50%; }

.mono {
    font-family: monospace;
}
