[Socket]
ListenStream=[::]:80
ListenStream=[::]:443
#ListenStream=[::]:8000
#ListenStream=[::]:4430
BindIPv6Only=both

[Install]
WantedBy=sockets.target
