[Unit]
Description=caddy

[Container]
# should I derive an image with the Caddyfile?
Image=docker.io/library/caddy:latest
CpuSetCpus=0
Network=host

# this needs a volume for the config (or are we going to derive an image with the config
# this needs a volume for the static files

[Install]
WantedBy=default.target
