[Unit]
Description=caddy

[Service]
Restart=always
RuntimeDirectory=program-explorer
RuntimeDirectoryPreserve=yes

[Container]
Image=localhost/pe-caddy-dev:latest
Network=host
Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:z
Environment=RUNTIME_DIRECTORY=${RUNTIME_DIRECTORY}

[Install]
WantedBy=default.target
