[Unit]
Description=PE image service

[Service]
Restart=always
StandardError=journal
RuntimeDirectory=program-explorer
RuntimeDirectoryPreserve=yes

[Container]
Image=localhost/pe-image-service:latest
Network=host

# okay so using journald doesn't actually pass through JOURNAL_STREAM, so do it manually
Environment=JOURNAL_STREAM=${JOURNAL_STREAM}
LogDriver=passthrough

Volume=${HOME}/.local/share/peoci:/peoci:z
Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:z

Secret=container-registries

Exec=--listen=${RUNTIME_DIRECTORY}/image-service.sock \
     --auth=/run/secrets/container-registries \
     --cache=/peoci

[Install]
WantedBy=default.target
