[Unit]
Description=PE server worker

[Service]
Restart=always
StandardError=journal
RuntimeDirectory=program-explorer
RuntimeDirectoryPreserve=yes

# This does let us use an overly high upper bound whereas using
# [Container]
# PodmanArgs=--cpuset-cpus=2-1000
# doesn't
CPUAffinity=2-1000

[Container]
Image=localhost/pe-server-worker:latest
Pod=pe.pod
Network=none

# okay so using journald doesn't actually pass through JOURNAL_STREAM, so do it manually
Environment=JOURNAL_STREAM=${JOURNAL_STREAM}
LogDriver=passthrough

Volume=pe-worker-images.volume:/peimages
Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:Z
PodmanArgs=--device=/dev/kvm
Exec=--uds=${RUNTIME_DIRECTORY}/worker.sock --index-dir=/peimages

Tmpfs=/tmp

[Install]
WantedBy=default.target
