[Unit]
Description=PE server lb

[Service]
Restart=always
RuntimeDirectory=program-explorer

# TODO systemctl stop fails after 10s

[Container]
Image=localhost/pe-server-lb:latest
Network=none
PodmanArgs=--cpuset-cpus=1
Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:z
Exec=--uds=${RUNTIME_DIRECTORY}/lb.sock --worker=uds:${RUNTIME_DIRECTORY}/worker.sock

[Install]
WantedBy=default.target
