[Unit]
Description=PE server lb

[Service]
Restart=always
RuntimeDirectory=program-explorer

# TODO systemctl stop fails after 10s

[Container]
Image=localhost/pe-server-lb:latest
Network=none
PodmanArgs=--cpuset-cpus=1
Exec=--uds=${XDG_RUNTIME_DIR}/program-explorer/lb.sock --worker=uds:${XDG_RUNTIME_DIR}/program-explorer/worker.sock

[Install]
WantedBy=default.target
