[Unit]
Description=PE server lb

[Service]
Restart=always
RuntimeDirectory=program-explorer
# idk if this is really the right place/way to do this
RuntimeDirectoryPreserve=yes
StandardError=journal
AllowedCPUs=0-3

[Container]
Image=localhost/pe-server-lb:latest
Network=none

# okay so using journald doesn't actually pass through JOURNAL_STREAM, so do it manually
Environment=JOURNAL_STREAM=${JOURNAL_STREAM}
LogDriver=passthrough

Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:z
Exec=--uds=${RUNTIME_DIRECTORY}/lb.sock --worker=uds:${RUNTIME_DIRECTORY}/worker.sock

[Install]
WantedBy=default.target
