[Unit]
Description=PE server worker

[Service]
Restart=always
RuntimeDirectory=program-explorer

# This does let us use an overly high upper bound whereas using
# [Container]
# PodmanArgs=--cpuset-cpus=2-1000
# doesn't
CPUAffinity=2-1000

[Container]
Image=localhost/pe-server-worker:latest
Network=none
Volume=pe-worker-images.volume:/peimages
Volume=${RUNTIME_DIRECTORY}:${RUNTIME_DIRECTORY}:z
Exec=--uds=${RUNTIME_DIRECTORY}/worker.sock --index-dir=/peimages

[Install]
WantedBy=default.target
